In [1]:
import pandas as pd
import numpy as np

In [2]:
bike = pd.read_csv('bike.csv')
bus = pd.read_csv('bus.csv')
car_city = pd.read_csv('car-city-newark-light-rain.csv')
car_clear = pd.read_csv('car-clear.csv')
car_clear2 = pd.read_csv('car-clear2.csv')
car_rain = pd.read_csv('car-rain.csv')
rail = pd.read_csv('rail.csv')

In [3]:
rail.isna().sum()

time              0
gFx               0
gFy               0
gFz               0
ax                0
ay                0
az                0
wx                0
wy                0
wz                0
Bx                0
By                0
Bz                0
Azimuth           0
Pitch             0
Roll              0
Latitude          0
Longitude         0
Speed (m/s)       0
Unnamed: 19    3899
dtype: int64

In [4]:
bus.isna().sum()

time              0
gFx               0
gFy               0
gFz               0
ax                0
ay                0
az                0
wx                0
wy                0
wz                0
p                 0
Bx                0
By                0
Bz                0
I                 0
Azimuth           0
Pitch             0
Roll              0
Gain              0
Latitude          0
Longitude         0
Speed (m/s)       0
Unnamed: 22    2855
dtype: int64

In [5]:

del bus['Unnamed: 22']
del car_city['Unnamed: 19']
del car_clear['Unnamed: 19']
del car_clear2['Unnamed: 22']
del car_rain['Unnamed: 19']

In [6]:
car_rain.isna().sum()

time           0
gFx            0
gFy            0
gFz            0
ax             0
ay             0
az             0
wx             0
wy             0
wz             0
Bx             0
By             0
Bz             0
Azimuth        0
Pitch          0
Roll           0
Latitude       0
Longitude      0
Speed (m/s)    0
dtype: int64

**bus['Label'] = '0'
bike['Label'] = '1'
car_city['Label'] = '3'
car_clear['Label'] = '4'
car_clear2['Label'] = '5'
car_rain['Label'] = '6'
rail['Label'] = '7'**

In [7]:
bus['Label'] = '0'
bike['Label'] = '1'
car_city['Label'] = '2'
car_clear['Label'] = '3'
car_clear2['Label'] = '4'
car_rain['Label'] = '5'
rail['Label'] = '6'

In [8]:
bus

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,...,Bz,I,Azimuth,Pitch,Roll,Gain,Latitude,Longitude,Speed (m/s),Label
0,0.078756,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,32.6287,0.0000,0.0000,0.0000,-∞,0.0,0.0,0.0,0
1,0.123827,-0.0488,0.3217,1.0039,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,32.6287,0.0000,0.0000,0.0000,-∞,0.0,0.0,0.0,0
2,0.135678,-0.0488,0.3217,1.0039,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,32.6287,0.0000,0.0000,0.0000,-∞,0.0,0.0,0.0,0
3,0.142924,-0.0488,0.3217,1.0039,0.0000,0.0000,0.0000,0.0330,-0.3477,0.1489,...,0.0000,32.6287,0.0000,0.0000,0.0000,-∞,0.0,0.0,0.0,0
4,0.189734,-0.0488,0.3217,1.0039,0.0000,0.0000,0.0000,0.0330,-0.3477,0.1489,...,-4.9962,32.6287,0.0000,0.0000,0.0000,-∞,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,159.199108,0.0058,0.2962,0.9510,0.2871,0.1037,-0.1953,-0.1628,0.0084,0.0689,...,-0.5875,35.9750,198.1116,-17.7065,-0.5754,-3154.3962,0.0,0.0,0.0,0
2851,159.208239,0.0058,0.2962,0.9510,0.1001,-0.0277,0.1021,-0.1628,0.0084,0.0689,...,-0.5875,35.9750,198.1116,-17.7065,-0.5754,-3154.3962,0.0,0.0,0.0,0
2852,159.209070,0.0058,0.2962,0.9510,0.1001,-0.0277,0.1021,-0.1628,0.0084,0.0689,...,-0.5875,35.9750,197.9616,-17.6049,-0.1878,-3154.3962,0.0,0.0,0.0,0
2853,159.219120,0.0058,0.2962,0.9510,0.1001,-0.0277,0.1021,-0.0157,-0.1060,0.0312,...,-0.5875,35.9750,197.9616,-17.6049,-0.1878,-3154.3962,0.0,0.0,0.0,0
2854,159.219891,0.0058,0.2962,0.9510,0.1001,-0.0277,0.1021,-0.0157,-0.1060,0.0312,...,-1.0225,35.9750,197.9616,-17.6049,-0.1878,-3154.3962,0.0,0.0,0.0,0

In [9]:
dataset = pd.concat([bike,car_city,car_clear,car_rain,car_clear2,bus,rail])

In [10]:
dataset

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,...,Pitch,Roll,Latitude,Longitude,Speed (m/s),Unnamed: 19,Label,p,I,Gain
0,0.081393,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.000000,0.00,NaN,1,NaN,NaN,NaN
1,0.082673,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1,NaN,NaN,NaN
2,0.083150,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1,NaN,NaN,NaN
3,0.083543,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0037,0.0182,-0.0008,...,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1,NaN,NaN,NaN
4,0.084015,-0.0750,0.8216,0.2986,0.3825,-0.0777,0.0023,0.0037,0.0182,-0.0008,...,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,33.143581,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6,NaN,NaN,NaN
3895,33.149730,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6,NaN,NaN,NaN
3896,33.160619,-0.2444,0.6019,0.7572,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6,NaN,NaN,NaN
3897,33.161497,-0.2781,0.6136,0.7252,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6,NaN,NaN,NaN
3898,33.161984,-0.2151,0.5811,1.0096,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6,NaN,NaN,NaN

In [11]:
dataset.isna().sum()

time                0
gFx                 0
gFy                 0
gFz                 0
ax                  0
ay                  0
az                  0
wx                  0
wy                  0
wz                  0
Bx                  0
By                  0
Bz                  0
Azimuth             0
Pitch               0
Roll                0
Latitude            0
Longitude           0
Speed (m/s)         0
Unnamed: 19    173348
Label               0
p              164813
I              164813
Gain           164813
dtype: int64

In [12]:
dataset = dataset.drop(['p','I','Gain'],axis=1)

In [13]:
dataset

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,...,By,Bz,Azimuth,Pitch,Roll,Latitude,Longitude,Speed (m/s),Unnamed: 19,Label
0,0.081393,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,0.000000,0.000000,0.00,NaN,1
1,0.082673,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
2,0.083150,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
3,0.083543,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0037,0.0182,-0.0008,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
4,0.084015,-0.0750,0.8216,0.2986,0.3825,-0.0777,0.0023,0.0037,0.0182,-0.0008,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,33.143581,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-60.611,-16.6824,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3895,33.149730,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3896,33.160619,-0.2444,0.6019,0.7572,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3897,33.161497,-0.2781,0.6136,0.7252,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3898,33.161984,-0.2151,0.5811,1.0096,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6

In [14]:
dataset.isna().sum()

time                0
gFx                 0
gFy                 0
gFz                 0
ax                  0
ay                  0
az                  0
wx                  0
wy                  0
wz                  0
Bx                  0
By                  0
Bz                  0
Azimuth             0
Pitch               0
Roll                0
Latitude            0
Longitude           0
Speed (m/s)         0
Unnamed: 19    173348
Label               0
dtype: int64

In [15]:
dataset

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,...,By,Bz,Azimuth,Pitch,Roll,Latitude,Longitude,Speed (m/s),Unnamed: 19,Label
0,0.081393,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,0.000000,0.000000,0.00,NaN,1
1,0.082673,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
2,0.083150,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
3,0.083543,-0.0750,0.8216,0.2986,0.0000,0.0000,0.0000,0.0037,0.0182,-0.0008,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
4,0.084015,-0.0750,0.8216,0.2986,0.3825,-0.0777,0.0023,0.0037,0.0182,-0.0008,...,0.000,0.0000,0.0000,0.0000,0.0000,40.999783,-74.334802,0.00,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,33.143581,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-60.611,-16.6824,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3895,33.149730,-0.2759,0.6082,0.8734,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3896,33.160619,-0.2444,0.6019,0.7572,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3897,33.161497,-0.2781,0.6136,0.7252,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6
3898,33.161984,-0.2151,0.5811,1.0096,-1.5158,0.6489,-0.2318,-0.0464,0.2305,-0.0826,...,-58.049,-15.6754,213.3248,-33.8083,-6.5316,40.747917,-74.186310,14.73,NaN,6

## Performing the Train Test Split

In [16]:
Y = dataset['Label']
X = dataset.drop('Label',axis=1)

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [18]:
from tensorflow import keras

In [19]:
from keras.models import Sequential
from keras.layers import Conv1D,Dense,Dropout,MaxPool1D,Flatten
from keras.activations import relu

# Model Training

In [20]:
# model = Sequential()
# model.add(Conv1D(filters=16,kernel_size=3,padding='same',activation='relu',input_shape=(X_train.shape[0],1)))
# model.add(MaxPool1D(pool_size=2))
# model.add(Conv1D(filters=32,kernel_size=3,padding='same',activation='relu'))
# model.add(MaxPool1D(pool_size=2))
# model.add(Dropout(0.1))
# model.add(Dense(64,activation='relu'))
# model.add(Flatten())
# model.add(Dense(7,activation='softmax'))
# model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
# model.fit(X_train,Y_train,epochs=50,validation_split=0.1)

In [33]:
X_train.isna().sum()

time           0
gFx            0
gFy            0
gFz            0
ax             0
ay             0
az             0
wx             0
wy             0
wz             0
Bx             0
By             0
Bz             0
Azimuth        0
Pitch          0
Roll           0
Latitude       0
Longitude      0
Speed (m/s)    0
dtype: int64

In [39]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(pred,Y_test)

In [22]:
X_train.shape

(138678, 20)

In [23]:
X_train.isna().sum()

time                0
gFx                 0
gFy                 0
gFz                 0
ax                  0
ay                  0
az                  0
wx                  0
wy                  0
wz                  0
Bx                  0
By                  0
Bz                  0
Azimuth             0
Pitch               0
Roll                0
Latitude            0
Longitude           0
Speed (m/s)         0
Unnamed: 19    138678
dtype: int64

In [34]:
X_test.isna().sum()

time               0
gFx                0
gFy                0
gFz                0
ax                 0
ay                 0
az                 0
wx                 0
wy                 0
wz                 0
Bx                 0
By                 0
Bz                 0
Azimuth            0
Pitch              0
Roll               0
Latitude           0
Longitude          0
Speed (m/s)        0
Unnamed: 19    34670
dtype: int64

In [35]:
del X_test['Unnamed: 19']

In [36]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(X_train,Y_train)

C:\Users\devan\.conda\envs\MachineLearning\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
pred = lg.predict(X_test)

In [40]:
acc = accuracy_score(pred,Y_test)

In [41]:
acc

0.996769541390251