In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample_sub = pd.read_csv('sample_submission.csv')

In [3]:
train.head()

,discourse_id,essay_id,discourse_text,discourse_type,discourse_effectiveness
0,0013cc385424,007ACE74B050,"Hi, i'm Isaac, i'm going to be writing about h...",Lead,Adequate
1,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position,Adequate
2,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim,Adequate
3,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence,Adequate
4,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim,Adequate

In [4]:
test.head()

,discourse_id,essay_id,discourse_text,discourse_type
0,a261b6e14276,D72CB1C11673,Making choices in life can be very difficult. ...,Lead
1,5a88900e7dc1,D72CB1C11673,Seeking multiple opinions can help a person ma...,Position
2,9790d835736b,D72CB1C11673,it can decrease stress levels,Claim
3,75ce6d68b67b,D72CB1C11673,a great chance to learn something new,Claim
4,93578d946723,D72CB1C11673,can be very helpful and beneficial.,Claim

In [5]:
sample_sub.head()

   discourse_id  Ineffective  Adequate  Effective
0  a261b6e14276         0.20      0.60       0.40
1  5a88900e7dc1         3.00      6.00       1.00
2  9790d835736b         1.00      2.00       3.00
3  75ce6d68b67b         0.33      0.34       0.33
4  93578d946723         0.01      0.24       0.47

In [6]:
train["discourse_effectiveness"].replace("Effective",value=1,inplace = True)
train["discourse_effectiveness"].replace("Adequate",value=2,inplace = True)
train["discourse_effectiveness"].replace("Ineffective",value=3,inplace = True)

In [7]:
train.head()

,discourse_id,essay_id,discourse_text,discourse_type,discourse_effectiveness
0,0013cc385424,007ACE74B050,"Hi, i'm Isaac, i'm going to be writing about h...",Lead,2
1,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position,2
2,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim,2
3,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence,2
4,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim,2

In [8]:
target = train["discourse_effectiveness"]
train_test = train.drop(["discourse_effectiveness"],axis=1).append(test)

C:\Users\devan\AppData\Local\Temp/ipykernel_14632/558018210.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_test = train.drop(["discourse_effectiveness"],axis=1).append(test)

In [9]:
train_test

,discourse_id,essay_id,discourse_text,discourse_type
0,0013cc385424,007ACE74B050,"Hi, i'm Isaac, i'm going to be writing about h...",Lead
1,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position
2,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim
3,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence
4,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim
...,...,...,...,...
5,2e214524dbe3,D72CB1C11673,When making a decision there is a chance that ...,Evidence
6,84812fc2ab9f,D72CB1C11673,Everyone is different and may have more experi...,Evidence
7,c668ff840720,D72CB1C11673,Seeking others opinion can be very helpful and...,Claim
8,739a6d00f44a,D72CB1C11673,Taking other peoples advice and doing what the...,Evidence
9,bcfae2c9a244,D72CB1C11673,You can learn from others experiences by seeki...,Concluding Statement

In [10]:
text = train_test["discourse_text"] + train_test["discourse_type"]

In [11]:
text.head(3)

0    Hi, i'm Isaac, i'm going to be writing about h...
1    On my perspective, I think that the face is a ...
2    I think that the face is a natural landform be...
dtype: object

In [12]:
text = text.apply(lambda x:" ".join(x.lower() for x in x.split()))

In [13]:
text = text.str.replace('[^\w\s]','')

C:\Users\devan\AppData\Local\Temp/ipykernel_14632/2434945836.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  text = text.str.replace('[^\w\s]','')

In [14]:
text = text.str.replace('\d','')

C:\Users\devan\AppData\Local\Temp/ipykernel_14632/3498564293.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  text = text.str.replace('\d','')

In [15]:
text

0    hi im isaac im going to be writing about how t...
1    on my perspective i think that the face is a n...
2    i think that the face is a natural landform be...
3    if life was on mars we would know by now the r...
4    people thought that the face was formed by ali...
                           ...
5    when making a decision there is a chance that ...
6    everyone is different and may have more experi...
7    seeking others opinion can be very helpful and...
8    taking other peoples advice and doing what the...
9    you can learn from others experiences by seeki...
Length: 36775, dtype: object

In [16]:
# Remove Stopwords
import nltk
from nltk.corpus import stopwords
sw = stopwords.words('english')

In [17]:
text = text.apply(lambda x:" ".join(x for x in x.split() if x not in sw))

In [18]:
#remove infrequent words
remove = pd.Series(' '.join(text).split()).value_counts()[-1000:]
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in remove))

In [20]:
#lemmatization
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()
text = text.apply(lambda x: " ".join([lemma.lemmatize(word) for word in x.split()]))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\devan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\devan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\omw-1.4.zip.

In [21]:
text

0    hi im isaac im going writing face mar natural ...
1    perspective think face natural landform dont t...
2    think face natural landform life mar descovere...
3    life mar would know reason think natural landf...
4    people thought face formed alieans thought lif...
                           ...
5    making decision chance become stressed overwhe...
6    everyone different may experience seeking peop...
7      seeking others opinion helpful beneficial claim
8    taking people advice say may lead great outcom...
9    learn others experience seeking advice someone...
Length: 36775, dtype: object

In [24]:
#remove words less than two characters
import re
text = text.apply(lambda x: ' '.join([w for w in x.split() if len(w) > 2]))


#remove special characters and numbers
text = text.apply(lambda x : re.sub("[^a-z\s]","", x))

In [26]:
text = pd.Series(text)
print(text)

0    isaac going writing face mar natural landform ...
1    perspective think face natural landform dont t...
2    think face natural landform life mar descovere...
3    life mar would know reason think natural landf...
4    people thought face formed alieans thought lif...
                           ...
5    making decision chance become stressed overwhe...
6    everyone different may experience seeking peop...
7      seeking others opinion helpful beneficial claim
8    taking people advice say may lead great outcom...
9    learn others experience seeking advice someone...
Length: 36775, dtype: object

In [27]:
type(text)

pandas.core.series.Series

In [28]:
apostrophes = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

def look_at_dict(txt, dictionary):
    for word in txt.split():
        if word.lower() in dictionary:
            if word.lower() in txt.split():
                txt = txt.replace(word, dictionary[word.lower()])
    return txt

text = text.apply(lambda x: look_at_dict(x, apostrophes))

text.head()

0    isaac going writing face mar natural landform ...
1    perspective think face natural landform dont t...
2    think face natural landform life mar descovere...
3    life mar would know reason think natural landf...
4    people thought face formed alieans thought lif...
dtype: object

In [29]:
#Spllitting the Dataset
x_train = text[:len(train)]
y_train = pd.get_dummies(target)
x_test = text[len(train):]

In [30]:
y_train.head()

   1  2  3
0  0  1  0
1  0  1  0
2  0  1  0
3  0  1  0
4  0  1  0

In [36]:
# Tfidf Vectorizer Operation
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer_tfid = TfidfVectorizer(stop_words='english',max_df=0.5,min_df=0.01)
x_train = np.array(x_train).tolist()
x_train = list(map(''.join,x_train))
x_test = np.array(x_test).tolist()
x_test = list(map(''.join,x_test))
vectorizer_tfid.fit(x_train)
x_train_tfidf = vectorizer_tfid.transform(x_train)
x_test_tfidf = vectorizer_tfid.transform(x_test)

In [39]:
print(x_train_tfidf)

  (0, 192)	0.13568045484331487
  (0, 190)	0.15826813245736465
  (0, 170)	0.3277042043902158
  (0, 169)	0.30206869186094915
  (0, 161)	0.5620668575093272
  (0, 150)	0.24213090900511658
  (0, 145)	0.1122039792002062
  (0, 144)	0.4800639083903705
  (0, 142)	0.10956870517990737
  (0, 116)	0.1255538962228245
  (0, 99)	0.24424992463445022
  (0, 77)	0.15516297250174782
  (0, 65)	0.16972388759353008
  (1, 256)	0.47203943592013786
  (1, 197)	0.15972627148689245
  (1, 180)	0.2503661762214377
  (1, 170)	0.5226541871330594
  (1, 161)	0.22410957243637172
  (1, 150)	0.19308683216521524
  (1, 144)	0.5104347324005626
  (1, 99)	0.19477663714243923
  (1, 78)	0.1727034683469549
  (2, 256)	0.28984671051536015
  (2, 170)	0.48138858329379036
  (2, 161)	0.41283048039661674
  :	:
  (36762, 6)	0.5559714541312658
  (36763, 277)	0.3188743222879825
  (36763, 268)	0.3654321825126899
  (36763, 256)	0.1925233873917097
  (36763, 255)	0.10375553329651499
  (36763, 220)	0.1451484511458841
  (36763, 187)	0.24691893899592998
  (36763, 185)	0.3191257533137414
  (36763, 176)	0.3979285284233698
  (36763, 159)	0.09731027943137395
  (36763, 156)	0.13707914876005808
  (36763, 142)	0.10690928395562416
  (36763, 126)	0.09970420330139403
  (36763, 124)	0.1567465261330677
  (36763, 94)	0.06410667180050926
  (36763, 29)	0.22900409115414683
  (36763, 24)	0.16839901805109064
  (36763, 15)	0.4404223887209716
  (36763, 6)	0.14710539318601207
  (36764, 236)	0.2996858269916337
  (36764, 176)	0.38599239080191367
  (36764, 57)	0.4626328345107901
  (36764, 56)	0.3022476220695565
  (36764, 26)	0.47464274546332325
  (36764, 16)	0.4801351673312555

In [40]:
print(x_test_tfidf)

  (0, 255)	0.13553992380790347
  (0, 185)	0.10422162297038946
  (0, 176)	0.1732765495643733
  (0, 168)	0.19822821595769236
  (0, 160)	0.3586385335385764
  (0, 159)	0.12712023581586887
  (0, 150)	0.15431391809875994
  (0, 145)	0.1430187969623465
  (0, 117)	0.14403271748600202
  (0, 69)	0.21407462633953814
  (0, 44)	0.5663881308965669
  (0, 28)	0.17376722786898957
  (0, 15)	0.3835606970469587
  (0, 6)	0.384339093071453
  (1, 197)	0.2834849231664361
  (1, 187)	0.35816368376381924
  (1, 176)	0.3848052271577786
  (1, 168)	0.4402168317781674
  (1, 159)	0.2823032392003109
  (1, 126)	0.28924816286978017
  (1, 44)	0.4192702627044438
  (1, 29)	0.3321776337541555
  (2, 239)	0.9322380924072776
  (2, 47)	0.3618454629601428
  (3, 173)	0.43842035824697173
  :	:
  (8, 142)	0.12272106419607219
  (8, 121)	0.1914596084099991
  (8, 120)	0.16338403206705002
  (8, 117)	0.1265636165753895
  (8, 95)	0.14656179698556535
  (8, 94)	0.07358798688327534
  (8, 75)	0.2981254316719638
  (8, 40)	0.18525779912247867
  (8, 23)	0.16233392999762777
  (8, 6)	0.33772427861854215
  (8, 0)	0.13518356605642187
  (9, 239)	0.22042092503912225
  (9, 236)	0.13690268663018434
  (9, 187)	0.16412135553806223
  (9, 177)	0.21075785397021393
  (9, 176)	0.17632931076538785
  (9, 160)	0.36495697537694294
  (9, 146)	0.17377475002067336
  (9, 105)	0.17465816345896965
  (9, 96)	0.1999091212812444
  (9, 70)	0.398065526030938
  (9, 56)	0.13807296762840254
  (9, 38)	0.1912626133393576
  (9, 15)	0.19515910697960862
  (9, 6)	0.5866654854785168

In [44]:
from xgboost import XGBClassifier
from sklearn.multioutput import MultiOutputClassifier
xgb = MultiOutputClassifier(XGBClassifier())
xgb.fit(x_train_tfidf,y_train)

MultiOutputClassifier(estimator=XGBClassifier(base_score=None, booster=None,
                                              callbacks=None,
                                              colsample_bylevel=None,
                                              colsample_bynode=None,
                                              colsample_bytree=None,
                                              early_stopping_rounds=None,
                                              enable_categorical=False,
                                              eval_metric=None, gamma=None,
                                              gpu_id=None, grow_policy=None,
                                              importance_type=None,
                                              interaction_constraints=None,
                                              learning_rate=None, max_bin=None,
                                              max_cat_to_onehot=None,
                                              max_delta_step=None,
                                              max_depth=None, max_leaves=None,
                                              min_child_weight=None,
                                              missing=nan,
                                              monotone_constraints=None,
                                              n_estimators=100, n_jobs=None,
                                              num_parallel_tree=None,
                                              predictor=None, random_state=None,
                                              reg_alpha=None, reg_lambda=None, ...))

In [45]:
print(xgb.score(x_train_tfidf,y_train))

0.665061879504964

In [49]:
prediction = xgb.predict(x_test_tfidf)

In [50]:
prediction

array([[1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]])

In [51]:
prediction = pd.DataFrame(prediction,columns=["Ineffective", "Adequate", "Effective"])

In [52]:
prediction

   Ineffective  Adequate  Effective
0            1         0          0
1            0         1          0
2            0         1          0
3            0         1          0
4            0         0          0
5            1         0          0
6            1         0          0
7            1         0          0
8            1         0          0
9            1         0          0

In [54]:
prediction["discourse_id"] = sample_sub["discourse_id"] 
titles = ['discourse_id','Ineffective', 'Adequate', 'Effective']
prediction = prediction.reindex(columns = titles)
prediction

   discourse_id  Ineffective  Adequate  Effective
0  a261b6e14276            1         0          0
1  5a88900e7dc1            0         1          0
2  9790d835736b            0         1          0
3  75ce6d68b67b            0         1          0
4  93578d946723            0         0          0
5  2e214524dbe3            1         0          0
6  84812fc2ab9f            1         0          0
7  c668ff840720            1         0          0
8  739a6d00f44a            1         0          0
9  bcfae2c9a244            1         0          0

In [55]:
submission = pd.DataFrame(prediction)
submission.to_csv('submission1.csv', index = False)
print("My competition submission: \n\n", submission)

My competition submission:

    discourse_id  Ineffective  Adequate  Effective
0  a261b6e14276            1         0          0
1  5a88900e7dc1            0         1          0
2  9790d835736b            0         1          0
3  75ce6d68b67b            0         1          0
4  93578d946723            0         0          0
5  2e214524dbe3            1         0          0
6  84812fc2ab9f            1         0          0
7  c668ff840720            1         0          0
8  739a6d00f44a            1         0          0
9  bcfae2c9a244            1         0          0